* {
  font-family: "Orbitron", sans-serif;
}

body {
  background: #f2e9e4;
}

.calc-container {
  width: 400px;
  height: 600px;
  padding: 15px;
  border-radius: 20px;
  background-color: #2d93ad;
}

/* screen */
.calc-screen {
  height: 20%;
  background-color: #7d7c84;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
}

.result {
  font-size: 3rem;
  text-align: right;
}

div.result {
  height: 100%;
  padding: 5px;
}

/* buttons */

.calc-button-list {
  padding: 15px;
  margin: 10px;
  margin-top: 20px;
  height: 70%;
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}

button {
  background-color: #88ab75;
  font-size: 2rem;
  border: none;
  width: 5rem;
  height: 5rem;
  margin: 2px;
}

button.operator {
  background-color: #dbd56e;
}

button.clear {
  background-color: rgb(233, 138, 22);
}

button:hover {
  background-color: black;
  color: white;
  opacity: 40%;
}

button.longer {
  width: 47%;
}

button {
  border-radius: 50px;
}
